.navi-space {
  height: 80px;
}

.navi-bar {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #fff;
  padding: 8px;
  gap: 16px;
}

.navi-bar-btn {
  font-size: 12px;

  img {
    width: 40px;
    height: 40px;
  }
}
