.header {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}

.bundle {
  display: flex;
  margin-inline: 20px;
  margin-block: 14px;
}

.logo {
  width: 120px;
  height: 22px;
}

.bell {
  margin-right: 10px;
}

.search {
  margin-right: 10px;
}

button {
  color: white;
  background-color: black;
  border-radius: 15px;
  padding-inline: 13px;
  padding-block: 5px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.profile {
  margin-left: 21px;
}

.search,
.bell,
.profile {
  width: 30px;
  height: 30px;
}
