.drawer-container {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
button {
  background: transparent;
  border: 0;
}

header {
  width: 100%;
  height: 94px;
  border-bottom: 1px solid #eeeeee;
}

ul {
  padding: 15px;
}

a {
  text-decoration: none;
}

section h2,
section h2 + img {
  display: inline-flex;
  align-items: center;
}

hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  height: 1px;
  flex-shrink: 0;
}

.recent,
.writer,
.favorite {
  padding: 34px 0 0 25px;
}
.mybrunch {
}
.mybrunch h2 {
  margin: 25px;
}
.writer {
  display: flex;
  flex-direction: column;
  padding: 34px 0 0 25px;
}
.writer-list {
  display: flex;
  gap: 26px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.writer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.writer-item img {
  width: 80px;
  height: 80px;
  border-radius: 999px;
}

.writer-item span {
  color: #959595;
}

.writer-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-list {
  display: flex;
  gap: 35.14px;
  padding: 15px 0 0 0;
  gap: 35.14px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.card {
  display: flex;
  align-items: center;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text {
  position: static; /* top 제거 */
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.75px;
  font-family: Pretendard;
  font-size: 12px;
  line-height: 23px;
  color: #111;
}
.card-text span {
  color: #959595;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
.white-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  gap: 32.25px;
  height: 81.4px;
  width: 70.643px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.post {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center;
  min-width: 122.857px;
  text-align: center;
}

.box-item {
  min-width: 122.857px;
  text-align: center;
}

.post img {
  width: 122.857px;
  height: 172px;
}

img {
  max-width: 100%;
}

.post h2 {
  display: flex;
  top: 10.37px;
  font-weight: 300;
  font-size: 10.75px;
  color: #333;
  background-color: #eeeeee;
}

.box-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  min-width: 122.857px;
}

.title {
  flex-direction: row;
  top: 10.37px;
  font-weight: 300;
  line-height: 13.821px;
  font-size: 10.75px;
  left: 9.21px;
}

.post-author {
  flex-direction: column;
  bottom: 10.75px;
  color: #959595;
  font-family: Pretendard;
  font-size: 7.679px;
  font-weight: 300;
  line-height: 10.75px;
  left: 9.21px;
}

.box-item p {
  color: #111;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}

.box-item :last-child {
  color: #959595;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  top: 1.75px;
}

.container {
  display: flex;
  flex-direction: column;
}

.favorite-list {
  display: flex;
  flex-direction: row;
  gap: 35.14px;
  left: 24px;
  padding: 15px 0 0 0;
}
/*브런치  UL */
.content-total {
  padding: 14px 0 0;
  list-style: none;
  margin: 0;
}

/* 브런치 LI */
.content {
  padding: 14px 25px;
  border-top: 1px solid #ddd;
  width: 100%;
}
.content h3 {
  font-size: 17px;
  margin: 8px 0;
}

.content p {
  font-size: 14px;
  color: #555;
  margin: 2px 0;
}
