a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.point {
  color: #00c6be;
}

.search-container {
  width: 100%;
  max-width: 360px;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  background-color: #f8f8f8;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
}

.search-header {
  position: sticky;
  top: 0;
  padding-top: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  z-index: 1000;
}

.search-form-box {
  position: relative;
  padding: 0 40px;
  margin-bottom: 20px;
}

.search-form {
  .search-input {
    #search-input-field {
      width: 100%;
      color: #333;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      text-align: center;
      border: none;

      &::placeholder {
        color: #bfbfbf;
        font-weight: 300;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.search-input-clear-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('./images/search-clear-icon.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-tab-list {
  /* display: flex; */
  display: none;

  .search-tab-item {
    width: 50%;

    .search-tab-btn {
      position: relative;
      display: block;
      color: #666;
      font-size: 14px;
      line-height: 40px;
      text-align: center;

      &::after {
        display: none;
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #00c6be;
      }

      &.active {
        color: #00c6be;

        &::after {
          display: block;
        }
      }
    }
  }
}

.search-title {
  margin-bottom: 20px;
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 400;
}

.search-desc {
  color: #333;
  font-size: 20px;
  letter-spacing: -1px;
}

.search-keywords {
  /* display: none; */
  padding: 30px 20px;
  border-bottom: 1px solid #eee;
}

.search-keywords-list {
  display: flex;
  gap: 6px;
  margin-top: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;

  .search-keywords-item {
    a {
      display: block;
      padding: 0 16px;
      color: #959595;
      font-size: 15px;
      line-height: 34px;
      background-color: #fff;
      border: 1px solid #dddddd;
      border-radius: 100px;
    }
  }
}

.search-recent {
  /* display: none; */
  padding: 20px;
}

.search-recent-list {
  .search-recent-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      flex-grow: 1;
      color: #333;
      font-size: 15px;
      line-height: 36px;
    }

    .search-recent-delete-btn {
      width: 9px;
      height: 9px;
      background-image: url('./images/text-delete-icon.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.search-result-posts {
  display: none;
  padding: 20px;
}

.search-posts-filter {
  display: flex;
  justify-content: space-between;

  .search-posts-filter-tab {
    display: flex;
    gap: 10px;

    .search-posts-filter-item {
      a {
        position: relative;
        padding-left: 10px;
        color: #959595;
        font-size: 13px;
        font-weight: 300;

        &::after {
          display: none;
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          background-color: #00c6be;
          border-radius: 50%;
        }
      }

      &.active {
        a {
          color: #333;
          font-weight: 400;

          &::after {
            display: block;
          }
        }
      }
    }
  }
}

.search-posts-list {
  .search-posts-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .search-posts-title {
      display: block;
      margin-bottom: 10px;
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
    }

    .flex-box {
      display: flex;
    }

    .text-box {
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      gap: 10px;
      padding-right: 15px;
    }

    .img-box {
      flex-shrink: 0;
      width: 60px;
      height: 60px;

      img {
        width: 100%;
      }
    }

    .search-posts-text {
      flex-grow: 1;
      color: #959595;
      font-size: 12px;
      line-height: 1.6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .search-posts-date {
      color: #959595;
      font-size: 12px;
    }

    .search-posts-id {
      display: flex;
      align-items: center;
      color: #959595;
      font-size: 12px;
    }
  }
}

.search-result-author {
  display: none;

  .search-title {
    padding: 20px 20px 0;
  }
}

.search-author-list {
  .search-author-item {
    display: flex;
    gap: 20px;
    padding: 30px 0 30px 20px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  .search-author-profile {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
  }

  .search-author-text {
    flex-grow: 1;
    padding-right: 20px;
    overflow: hidden;

    .search-author-id {
      color: #333;
      font-size: 16px;
      font-weight: 400;
    }

    .search-author-desc {
      margin: 15px 0;
      color: #959595;
      font-size: 12px;
      line-height: 1.6;
    }
  }

  .search-author-keywords {
    display: flex;
    gap: 6px;
    margin-top: 15px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;

    .search-author-keyword {
      a {
        display: block;
        padding: 0 16px;
        color: #959595;
        font-size: 15px;
        line-height: 34px;
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 100px;
      }
    }
  }
}

.search-empty {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 0;

  p {
    color: #959595;
    font-size: 18px;
  }
}
