/* 로그인 페이지 */
.login {
  max-width: 360px;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 500;
  }

  .text {
    font-size: 13px;
    color: #959595;
  }
}

/* 이메일, 비밀번호 input */
.login-input {
  position: relative;
  display: inline-flex;

  input {
    border: none;
    border-bottom: 1px solid #ececec;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    appearance: none;
  }

  label {
    display: inline-flex;
    flex-wrap: row nowrap;
    align-items: center;
  }
}

/* 로그인 정보 저장 */
.check-box {
  position: relative;
  display: inline-flex;
  margin-block: 30px;

  input {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    margin: 0;
    inline-size: 20px;
    block-size: 20px;
    appearance: none;
  }

  label {
    block-size: 20px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
  }

  &.bg-icon {
    label {
      background-image: url(/src/sign-up/img/uncheck.png) no-repeat;
      padding-inline-start: 20px;
    }

    input:checked + label {
      background-image: url(/src/sign-up/img/check.png);
    }
  }
}
