/* 메인 페이지 */
.main-page {
  max-width: 360px;
}

/* 배너 */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkmagenta;
  color: #ffffff;

  .book-title {
    font-size: 22px;
    margin-block: 55px 11px;
  }

  .book-writer {
    font-size: 17px;
    margin-bottom: 54px;
  }

  img {
    margin-top: 12px;
    margin-bottom: 118px;
  }
}

/* 요즘 뜨는 브런치 */
.brunch-list {
  hr {
    border: none;
    height: 0.5px;
    background-color: #ececec;
  }
}

.brunch-list-title {
  margin-inline: 25px;
  margin-top: 36px;
}

.book-information {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  max-width: 310px;
  margin-inline: 25px;
  gap: 15px;
  justify-self: center;
  margin-top: 30px;
  font-size: 20px;

  div {
    grid-column: 2;
  }

  img {
    grid-column: 3;
  }
}

.list-number {
  font-size: 24px;
  font-weight: 500;
}

.book-explanation {
  h3 {
    font-size: 17px;
    font-weight: 500;
  }

  p,
  span {
    font-size: 13px;
    color: #666666;
    line-height: 1.3;
  }

  span {
    display: block;
    margin-block: 4px 20px;
  }
}

/* 구독자 급등 작가 */
.hot-writer {
  h3 {
    margin-inline: 25px;
    margin-top: 30px;
  }
}

.writer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 310px;
  justify-self: center;
  align-items: center;
}

.writer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 11px 23px;
  margin-block: 20px;

  img {
    border-radius: 50%;
  }

  .title {
    font-size: 19px;
    color: #111111;
  }

  .job {
    font-size: 12px;
    color: #959595;
    margin-block: 3px 14.75px;
  }

  .text {
    font-size: 13px;
    color: #666666;
  }
}

.writer1,
.writer2 {
  border-bottom: 1px solid #cacaca;
}

.writer2,
.writer4 {
  border-left: 1px solid #cacaca;
}
