/* 메인 페이지 */
.main-page {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-block-start: 59px;
}

/* 배너 */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(175, 80, 175), rgb(117, 67, 117));
  color: #ffffff;

  .book-title {
    font-size: 22px;
    margin-block: 55px 11px;
  }

  .book-writer {
    font-size: 17px;
    margin-bottom: 54px;
  }

  img {
    margin-top: 12px;
    margin-bottom: 118px;
  }
}

/* 요즘 뜨는 브런치 */
.brunch-list {
  hr {
    border: none;
    height: 0.5px;
    background-color: #ececec;
  }
}

.brunch-list-title {
  margin-inline: 25px;
  margin-top: 36px;
}

.book-information {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  width: 310px;
  margin-inline: 25px;
  gap: 15px;
  justify-self: center;
  margin-top: 30px;
  font-size: 20px;
  cursor: pointer;

  div {
    grid-column: 2;
  }

  img {
    grid-column: 3;
    width: 100px;
    height: 100px;
  }
}

.list-number {
  font-size: 24px;
  font-weight: 500;
}

.book-explanation {
  h3 {
    font-size: 17px;
    font-weight: 500;
  }

  p,
  span {
    font-size: 13px;
    color: #666666;
    line-height: 1.3;
  }

  span {
    display: block;
    margin-block: 4px 20px;
  }
}

/* 구독자 급등 작가 */
.hot-writer {
  h3 {
    margin-inline: 25px;
    margin-block: 20px;
  }
  margin-bottom: 20px;
}

.writer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 310px;
  justify-self: center;
  align-items: center;
  /* 모든 요소를 동일하게 확대 및 같은 높이로 설정 */
  align-items: stretch;

  figure {
    width: 150px;
    height: 250px;
  }
}

.writer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #c2c2c2;
  margin: 5px;

  img {
    border-radius: 50%;
  }

  .title {
    font-size: 17px;
    color: #111111;
  }

  .job {
    font-size: 12px;
    color: #959595;
    margin-block: 5px 14.75px;
  }

  .text {
    height: 50px;
    font-size: 13px;
    color: #666666;
    text-align: center;
  }
}
